$background: #262626
$background-darker: #161616
$red: rgb(199,3,0)
$lightred: rgb(255, 79, 77)
$blue: #0000ff
$link: #8cb3d9
$author: #6a98af
$removed: #840c09
$unknown: #ffd7ad
$deleted: #00007d
$moderator: #228822
$admin: rgb(199,3,0)
$quarantined: #ffd635
$whitesmoke: #f5f5f5
$buttongray: rgb(239, 239, 239)
$notebg: #264d73
$lightblue: #3470ab
