html, body
  margin: 0
  padding: 0
  background-color: $background
  font-family: verdana, arial, helvetica, sans-serif

.main
  margin: 15px
  color: white

.removed
  background-color: $removed

.deleted
  background-color: $deleted

.unknown
  background-color: $unknown

.removed-text
  color: $red

.deleted-text
  color: $blue

a
  color: $link

a:link, a:visited, a:active
  text-decoration: none

.author
  color: $author

.author:not([href])
  color: inherit
  text-decoration: none

.space
  margin-left: 5px

select
  background: transparent
  border: 0
  color: #828282

.time
  color: #828282

.page-box
  margin-bottom: 15px

.page-title
  margin-left: 5px
  font-size: 22px
  font-weight: bold
  color: white

.page-title-link
  margin-bottom: 15px
  margin-left: 5px
  font-size: 14px
  color: white
