header 
  background-color: $red///*#19171c;/*#181818*/
  display: flex
  justify-content: space-between
  align-items: center
  padding: 10px

  .subheading
    font-weight: bold
  .tempNav
    margin-top: 7px
    font-size: 12px


  #header
    a
      color: #fff		
  
    h1
      margin: 7px 0

      a
        transition: color 0.3s
    

      a:hover
        text-decoration: none
        color: #ff8b88
   
  #status 
    display: flex
    justify-content: space-between
    align-items: center

    #status-text
      color: #fff
      margin: 0 20px 0 0

    #status-image 
      height: 64px
      width: 64px
      border-radius: 32px

nav
  background-color: $red
  padding-bottom: 10px
  a
    color: white
    margin: 0 7px
    font-size: 15px
    display: inline-block
  a.selected
    font-weight: bold

