header
  background-color: $red///*#19171c;/*#181818*/
  display: flex
  justify-content: space-between
  align-items: center
  padding: 10px
  color: white

  #nav *
    font-weight: bold
  #subheading
    margin-top: 5px
    *
      font-weight: bold
    .user input[type="text"]
      width: 118px
    input[type="text"]
      background: $background
      color: white
      font-family: verdana, arial, helvetica, sans-serif
      width: 150px
      &:-webkit-autofill
        -webkit-box-shadow: 0 0 0 1000px $background inset
        -webkit-text-fill-color: white
  #subheading input[type="submit"]
    margin-left: 5px
  .opposite
    margin-bottom: 3px
    a
      opacity: .7

  label
    font-size: 16px

  #header
    a,label
      color: #fff
    h1
      margin: 0
      a
        transition: color 0.3s
  #site-name
    font-size: 1.5em
    font-weight: bold
    margin: 0
  #status
    display: flex
    justify-content: space-between
    align-items: center

    #status-text
      color: #fff
      margin: 0 20px 0 0

    #status-image
      height: 64px
      width: 64px
      border-radius: 32px

nav
  background-color: $red
  padding-bottom: 10px
  a
    color: white
    margin: 0 7px
    font-size: 15px
    display: inline-block
  a.selected
    font-weight: bold

body .github-fork-ribbon:before
  background-color: #333

body .github-fork-ribbon.left-bottom:before
  background-color: white

body .github-fork-ribbon.left-bottom:after
  color: $red
  border-color: $red
  text-shadow: 0 -0.08em rgba($red, .5)
