.comment, .post
  .comment-links, .post-links
    margin-bottom: 6px

  .comment-links a, .post-links a
    color: #828282
    font-weight: bold
    font-size: 10px
    margin-right: 16px

  .flair  
    display: inline-block 
    color: #c8c8c8 
    background-color: #404040 
    margin-right: 5px 
    border: 1px solid #4d4d4d 
    border-radius: 2px 
    padding: 0 2px 
    font-size: 10px 
