.post
  word-break: break-word
  .score
    color: var(--score)
    font-weight: bold

#comment-info
  color: var(--accent)
  margin-top: 10px
  font-weight: bold
  padding-bottom: 5px
  border-bottom: 1px dotted var(--border-light)
  font-size: 16px


#comment-sort
  color: var(--meta)
  font-size: 12px
  margin: 5px 0 10px

.clearBoth
  clear: both
